@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  --magenta-300: hsl(300, 43%, 22%);
  --pink: hsl(333, 80%, 67%);
  --magenta-200: hsl(303, 10%, 53%);
  --magenta-100: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);

  font-family: "League Spartan";
  font-size: 1rem;
}

body {
  background-color: var(--white);
  background-image: url("images/bg-pattern-top-desktop.svg"),
    url("images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

@media (min-width: 1200px) {
  body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* HEADER */

header {
  max-width: 330px;
  text-align: center;

  margin: 5rem auto 1rem auto;
}

h1 {
  width: 70%;
  margin: 0 auto;
  font-size: 2.5rem;
  color: var(--magenta-300);
  font-weight: 700;
  letter-spacing: -0.15rem;
  line-height: 2.5rem;
}

.paragraph-header {
  color: var(--magenta-200);
  font-size: 1.12rem;
  margin: 1.5rem 0 2.5rem 0;
}

.container-ratings {
  margin: 1rem auto;
  padding: 1em;

  background-color: var(--magenta-100);
  border-radius: 10px;
}

.img-icon-star {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.paragraph-ratings {
  font-weight: 700;
  color: var(--magenta-300);
}

@media (min-width: 1200px) {
  header {
    max-width: 1110px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  .section-title {
    width: 50%;
  }

  .section-ratings {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  h1 {
    margin: 0;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .paragraph-header {
    width: 80%;
    margin: 1.5rem 0 2.5rem 0;
  }

  .container-ratings {
    display: flex;
    align-items: center;
    width: 420px;
    margin: 0.5rem 0;
  }

  .ratings-one {
    position: relative;
    right: 5vw;
  }

  .ratings-two {
    position: relative;
    right: 2.5vw;
  }

  .rating {
    margin: 0 2rem 0 1.5rem;
  }

  .img-icon-star {
    display: inline-block;
    margin-bottom: 0;
  }

  .paragraph-ratings {
    font-weight: 700;
    color: var(--magenta-300);
  }
}

/* MAIN */

main {
  width: 90%;
  max-width: 330px;
  margin: 3rem auto 5rem auto;
}

.container-card {
  margin: 1em 0;
  padding: 2.3em;
  background-color: var(--magenta-300);
  border-radius: 10px;

  color: var(--white);
  text-align: left;
}

.profile-info {
  display: flex;
  margin-bottom: 1.5em;
}

.profile-content {
  margin-left: 1.5em;
}

.profile-info img {
  width: 15%;
  border-radius: 50%;
}

.paragraph-profile {
  font-weight: 400;
}

.paragraph-regular-magenta {
  color: var(--pink);
  opacity: 0.6;
}

.paragraph-regular-white {
  line-height: 1.4rem;
}

@media (min-width: 1200px) {
  main {
    max-width: 1110px;

    display: flex;
    justify-content: space-between;
  }

  .container-card {
    max-width: 350px;
  }

  .card-one {
    position: relative;
    top: -4vh;
  }

  .card-two {
    position: relative;
    top: -2vh;
  }

  .paragraph-regular-white {
    line-height: 1.4rem;
    padding: 0.5rem 0 0.8rem 0;
  }
}
