@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  --magenta-300: hsl(300, 43%, 22%);
  --magenta-200: hsl(303, 10%, 53%);
  --magenta-100: hsl(300, 24%, 96%);
  --pink: hsl(333, 80%, 67%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: 'League Spartan';
  font-size: 1rem;

  background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: top, bottom;
}

@media (min-width: 1200px) {
  body {
    height: 100vh;
    background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);

    background-position: top left, bottom right;

    padding: 3rem 8rem;
  }
}

/* HEADER */

header {
  width: 95%;
  max-width: 320px;
  margin: 6rem auto 2rem auto;

  text-align: center;
}

.section-ratings {
  width: 100%;
}

.container-ratings {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--magenta-100);
  border-radius: 10px;
}

.container-ratings:nth-child(1),
.container-ratings:nth-child(2) {
  margin-bottom: 1rem;
}

/* styles */

h1 {
  color: var(--magenta-300);
  font-size: 2.5rem;
  line-height: 2rem;
}

.paragraph-header {
  color: var(--magenta-200);
  font-weight: 500;
  font-size: 1.05rem;
  line-height: 1.5rem;
  margin: 1.5rem 0 2.5rem 0;
}

.img-icon-star {
  margin-right: 0.2rem;
}

.img-icon-star:nth-child(5) {
  margin-right: 0;
}

.paragraph-ratings {
  color: var(--magenta-300);
  font-weight: 700;
  margin-top: 0.5rem;
}

@media (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;

    max-width: 1440px;
    text-align: left;
  }

  .section-title,
  .section-ratings {
    width: 40%;
  }

  .container-ratings {
    display: flex;
    align-items: center;
    padding: 1.25rem;
  }

  .container-ratings:nth-child(1),
  .container-ratings:nth-child(2) {
    margin-bottom: 1.5rem;
  }

  .container-ratings:nth-child(1) {
    position: relative;
    left: -7rem;
  }

  .container-ratings:nth-child(2) {
    position: relative;
    left: -3.5rem;
  }

  /* styles */

  h1 {
    color: var(--magenta-300);
    font-size: 4rem;
    line-height: 3rem;
  }

  .paragraph-header {
    font-size: 1.2rem;
    line-height: 1.75rem;
  }

  .rating {
    margin-left: 1rem;
  }

  .paragraph-ratings {
    font-size: 1.15rem;
    margin-left: 2rem;
    margin-top: 0;
  }
}

/* MAIN */

main {
  width: 95%;
  max-width: 320px;
  margin-bottom: 4rem;
}

.container-card {
  background-color: var(--magenta-300);
  border-radius: 10px;
  padding: 2rem;
}

.container-card:nth-child(1),
.container-card:nth-child(2) {
  margin-bottom: 1rem;
}

.profile-info {
  display: flex;
  margin-bottom: 1.75rem;
}

.profile-content {
  margin-left: 1.5rem;
}

/* styles */

.profile-info img {
  width: 15%;
  border-radius: 50%;
}

h2 {
  color: var(--white);
  font-weight: 700;
}

.paragraph-profile-sub {
  color: var(--pink);
  font-weight: 500;
  opacity: 0.7;
}

.paragraph-card {
  color: var(--white);
  line-height: 1.5rem;
}

@media (min-width: 1200px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;

    margin-top: 5rem;
    margin-bottom: 0;
    max-width: 1440px;
  }

  .container-card {
    padding: 3rem 2rem 2rem;
  }

  .container-card:nth-child(1),
  .container-card:nth-child(2) {
    margin-bottom: 0;
  }

  .container-card:nth-child(1) {
    position: relative;
    top: -2rem;
  }

  .container-card:nth-child(2) {
    position: relative;
    top: -1rem;
  }

  .profile-info {
    display: flex;
    margin-bottom: 1.75rem;
  }

  .profile-content {
    margin-left: 1.5rem;
  }

  /* styles */

  h2,
  .paragraph-profile-sub,
  .paragraph-card {
    font-size: 1.05rem;
  }
}
